services:

  nginx:
    image: ghcr.io/blazingneutron/reverie-nginx
    build:
      context: ./
    restart: always
    ports:
      - "${NGINX_HTTP_PORT:-80}:80"
      - "${NGINX_HTTPS_PORT:-443}:443"