include:
  - docker-compose.supabase.yml

services:
  app:
    build:
      context: ./app
    env_file:
      - .env
    ports:
      - ${DEV_VITE_PORT:-5173}:5173

    volumes:
      - /var/run/docker.sock:/var/run/docker-host.sock
      - ..:/workspace:cached

    entrypoint: /usr/local/share/docker-init.sh
    command: sleep infinity