services:
  migrator:
    image: ghcr.io/blazingneutron/reverie-migrator
    build:
      context: ./
      additional_contexts:
         migrations: ../../supabase/migrations
      dockerfile: ./Dockerfile
    env_file:
      - ../.env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432